* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Oxygen', sans-serif;
}
.content-heading {
  margin-bottom: 24px;
  color: rgb(39,39,39);
  font-size: 44px;
}
.content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}
.video {
  position: fixed;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

media only screen and (max-width: 500px) {
  .content-heading {
    font-size: 20px;
  }
}
